table {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

}

th {
    border-bottom: 1px solid black;
    padding: 3px;
}

td {
    padding: 3px;
}

@media screen and (max-width:695px) {
    .tableContainer {
        width: 470px;
        overflow-x: scroll;
        
    }
}

@media screen and (max-width:654px) {
    .tableContainer {
        width: 420px;
        overflow-x: scroll;
    }
}

@media screen and (max-width:604px) {
    .tableContainer {
        width: 370px;
        overflow-x: scroll;
    }
}

@media screen and (max-width:551px) {
    .tableContainer {
        width: 310px;
        overflow-x: scroll;
    }
}

@media screen and (max-width:478px) {
    .tableContainer {
        width: 222px;
        overflow-x: scroll;
    }
}